html, body{
    margin: 0px;
    padding: 0px;
    background: #000000;
    color: #FFFFFF;
}

.fixed-content {
    max-width: 1160px;
    margin: 0 auto;
}

header {
    height: 90px;
}

.ted-header-right {
    position: relative:
}

.ted-logo {
    padding-top: 15px;
}

.ted-menu {
    width: 90px;
    height: 90px;
    background: #e63739;
    text-align: center;
    line-height: 90px;
    color: #FFFFFF;
    font-size: 50px;
    transition: font 0.3s ease;
    transform-origin: 50% 50%;
    position: absolute;
    right: 0px;
    top: 0px;
}

.ted-menu:hover {
    transition: font 0.3s ease;
    font-size: 55px;
}

.ted-header-image {
    width: 100%;
    position: relative;
}

.ted-header-image-arrow {
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -14.5px;
}

.ted-symbol-box {
    padding-top: 65px;
    padding-bottom: 65px;
}

.ted-symbol-box-left {
    text-align: center;
    padding-top: 20px;
}

.ted-symbol-box-right {
    text-align: left;
}

.ted-symbol-box-right h1 {
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
    padding-bottom: 20px;
}

.ted-symbol-box-right p {
    font-size: 18px;
    font-family: 'Cantarell', sans-serif;
}

.ted-grid {
    width: 100%;
    height: 700px;
    background: #333333;
}

.ted-partners {
    width: 100%;
    height: 300px;
    background: #000000;
}

.ted-footer-menu {
    text-align: center;
}

.ted-footer-menu ul {
    display: inline-block;
    margin: 25px auto;
}

.ted-footer-menu ul li {
   list-style: none;
   float: left;
   margin-left: 40px;
   margin-right: 40px;
}

.ted-footer-menu ul li a {
    color: #ff2b06;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Fjalla One', sans-serif;
}

.ted-footer-contacts {
    margin-top: 70px;
    text-align: center;
    font-size: 14px;
    font-family: 'Cantarell', sans-serif;
}

.ted-footer-contacts a {
    color: #e63739;
}

.ted-footer-social a {
    color: #FFFFFF;
    font-size: 24px;
}

.ted-credits {
    width: 100%;
    padding-left: 75px;
    padding-right: 75px;
    margin-top: 70px;
    padding-bottom: 15px;
}

footer {
    border-top: 15px solid #ff2b06;
}

.ted-fixed-menu {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #e63739;
    display: none;
}

.ted-fixed-menu-close {
    position: fixed;
    top: 33px;
    right: 73px;
}

.ted-fixed-menu-close a {
    color: #FFFFFF;
    font-size: 60px;
    transition: font 0.3s ease;
}

.ted-fixed-menu-close a:hover {
    color: #FFFFFF;
    font-size: 65px;
    transition: font 0.3s ease;
}

.ted-fixed-menu-table-layout {
    display: table;
    margin: 0 auto;
    height: 100%;
}

.ted-fixed-menu-list {
    display: table-cell;
    vertical-align: middle;
}

.ted-fixed-menu-list ul {
    text-align: center;
}

.ted-fixed-menu-list ul li {
    list-style: none;
    margin: 35px;
}

.ted-fixed-menu-list ul li a {
    color: #FFFFFF;
    font-size: 35px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

.no-padding {
    padding: 0;
}

.team-fast-hover-control {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

.team-fast-hover-container {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

.team-fast-hover-background {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background: rgba(0,0,0,0.3);
    display: none;
}

.team-fast-hover {
    position: absolute;
    left: 10px;
    right: 10px;
    text-align: center;
    bottom: 50px;
    color: #e63739;
}

.team-fast-hover h1 {
    font-size: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

.team-fast-hover h2 {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 16px;
    font-family: 'Cantarell', sans-serif;
}

.team-popup-background {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(230, 55, 57, 0.5);
    text-align: center;
}

.team-popup-container {
    position: absolute;
    top: 150px;
    left: 20%;
    right: 20%;
    max-width: 1000px;
    background: #000000;
    padding-bottom: 90px;
    padding-top: 20px;
}

.team-popup-info {
    color: #ffffff;
    text-align: justify;
    max-width: 500px;
    height: 100%;
}

.team-popup-info h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    color: #e63739;
}

.team-popup-info h2 {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 16px;
    font-family: 'Cantarell', sans-serif;
    color: #e63739;
}

.team-popup-info p {
    line-height: 40px;
    font-size: 16px;
    font-family: 'Cantarell', sans-serif;
}

.team-popup-close {
    top: 20px;
    right: 20px;
    position: absolute;
}

.team-popup-close a {
    color: #FFFFFF;
    font-size: 25px;
}

.team-popup-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.team-popup-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.team-popup-left a, .team-popup-right a {
    color: #e63739;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

@media screen and (max-height: 800px) {
    

}


.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
    vertical-align: middle;
}