html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.page {
    padding: 0px 85px 0px 85px;
    height: 100%;
} 

header {
    height: 100px;
    padding-top: 23px;
}

footer {
    height: 20px;
}

.inner-container {
    display: table-cell;
    vertical-align: middle;
}

.construction {
    height: calc(100% - 166px);
    display: table;
    text-align: center;
    width: 100%;
}

@media screen and (max-height: 800px) {
    .social {
        text-align: center;
    }
}
